.navbar-brand{
    display: flex;
}

.org-title{
    padding-top: 30px;

}

.heading{
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-form{
    padding-top: 40px;
}

.logo-design{
    display: flex;
    justify-content: center;
}

.child-number{
    width: 50%;
}

.child-age{
    width: 50%;
}

.fs{
    font-size: large;
}

#reveal-if-cat, #reveal-if-dog, #reveal-if-no{
    display: none;
}
#catradio:checked ~ #reveal-if-cat{
    display: block;
}
#dogradio:checked ~ #reveal-if-dog{
    display: block;
}
#noradio:checked ~ #reveal-if-no{
    display: block;
}